body
{
	background-color: rgba(126, 126, 123, 0.1);
}

p, h1, h3
{
  text-align: center;
}

p
{
  font-weight: bold;
  font-size: 20px;
}

img
{
	border:3px solid black;
	display: block;
    margin-left: auto;
    margin-right: auto
}

a
{
	text-decoration:none;
	color:black;
}

#map_canvas
{ 
	width: 50%;
  	height: 60%;
  	background-color:white;
  	margin-left:25%;
}

.geoloc
{
	margin-top: 25px;
}

.user
{
	border: 3px solid black;
	width:400px;
	height:350px;
	border-radius: 30px;
	background-color:white;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.user:hover
{
	background-color: rgba(106, 211, 71, 0.7);
}

.search_button
{
  margin-top: 10px;
}

.field
{
  position:relative;
  margin-left:45%;
}
