<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/stalker.css') }}">
    {% endblock %}
</head>

<body>
    <h1> Menu - Stalker </h1>
    <p> 1. Recherchez un profil sur instagram: <a href="{{ path('ci_search_person') }}">Cliquez ici</a> </p>
    <p> 2. Géocalisez vos amis: <a href="{{ path('ci_search_location') }}">Cliquez ici</a> </p>
</body>