<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/stalker.css') }}">
    {% endblock %}
</head>

<body>
    <h1>My Stalker</h1>
    <a href="{{ path('ci_homepage') }}"><h3><i class="fa fa-arrow-right"></i> Revenir en arrière</h3></a>
    {{ form_start(form)  }}
    {{ form_errors(form) }}
        <div class="field" id="retour">
            {{ form_widget(form.search, { 'attr': {'class': 'form-control', 'placeholder': 'Pseudo ?'} }) }}
        <input class="search_button" type="submit" value="Rechercher">
        </div>
    {{ form_end(form) }}

    {% if  tab_search != null %}
        {% for i in 0..tab_search['index'] - 1 %}
            <a href="https://instagram.com/{{ tab_search.username[i] }}"><div class="user">
                <p> {{ tab_search.full_name[i] }} </p>  
                <p> {{ tab_search.username[i] }} </p>
                <img src="{{ tab_search.picture[i] }}" >
                <p> {{ tab_search.id[i] }} </p>
            </div></a>      
        {% endfor %}
            <p> <a href="#retour"> Cliquez ici, pour remonter en haut :) </a> </p>
    {% endif %}
</body>