<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/stalker.css') }}">
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    {% endblock %}
</head>

<body onload="initialize()">
    <h1>My Stalker</h1>
    <a href="{{ path('ci_homepage') }}"><h3><i class="fa fa-arrow-right"></i> Revenir en arrière</h3></a>
    {{ form_start(form)  }}
    {{ form_errors(form) }}
        <div class="field" id="retour">
            {{ form_widget(form.search, { 'attr': {'class': 'form-control', 'placeholder': 'Ville ?'} }) }}
        <input class="search_button" type="submit" value="Rechercher">
        </div>
    {{ form_end(form) }}

    <p> Localisez vos amis et vous même ! </p>

    <div id="map_canvas">
        
    </div>

    <script>   

    function initialize() 
    {
        map = new google.maps.Map(document.getElementById("map_canvas"), 
        {
            zoom: 15,
            center: new google.maps.LatLng(48.858565, 2.347198),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });   
    } 
 
    if (navigator.geolocation)
        var watchId = navigator.geolocation.watchPosition(successCallback, null, {enableHighAccuracy:true});
    else
        alert("Votre navigateur ne prend pas en compte la géolocalisation HTML5");    
 
    function successCallback(position)
    {
        map.panTo(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
        var marker = new google.maps.Marker(
        {
            position: new google.maps.LatLng(position.coords.latitude, position.coords.longitude), 
            map: map
        }); 
    }

    </script>

     <!--    if (navigator.geolocation)
          var watchId = navigator.geolocation.watchPosition(successCallback, errorCallback, {enableHighAccuracy:true});
        else
          alert("Votre navigateur ne prend pas en compte la géolocalisation HTML5");
           
        function successCallback(position)
        {
          alert("Latitude : " + position.coords.latitude + ", longitude : " + position.coords.longitude);
        };  
         
        function errorCallback(error)
        {
          switch(error.code)
            {
            case error.PERMISSION_DENIED:
              alert("L'utilisateur n'a pas autorisé l'accès à sa position");
              break;      
            case error.POSITION_UNAVAILABLE:
              alert("L'emplacement de l'utilisateur n'a pas pu être déterminé");
              break;
            case error.TIMEOUT:
              alert("Le service n'a pas répondu à temps");
              break;
            }
        };

        function stopWatch()
        {
            navigator.geolocation.clearWatch(watchId);
        }  -->
    
</body>